{% render 'partials/head.liquid', title: 'Squad page' %}
<h1>FDND</h1>

<select name="pets">
  <option value="">--Kies een Hobby--</option>
  <a href="hobby/muziek"><option value="Muziek">Muziek</option></a>
  <a href="hobby/dammen"><option value="Dammen">Dammen</option></a>
  <a href="hobby/coden"><option value="Coden">Coden</option></a>
  <a href="hobby/chillen"><option value="Chillen">Chillen</option></a>
  <a href="hobby/festivals"><option value="Festivals">Festivals</option></a>
  <a href="hobby/fitness"><option value="Fitness">Fitness</option></a>
  <a href="hobby/gamen"><option value="Gamen">Gamen</option></a>
  <a href="hobby/haken"><option value="Haken">Haken</option></a>
  <a href="hobby/lezen"><option value="Lezen">Lezen</option></a>
  <a href="hobby/schaken"><option value="Schaken">Schaken</option></a>
  <a href="hobby/sporten"><option value="Sporten">Sporten</option></a>
  <a href="hobby/uitgaan"><option value="Uitgaan">Uitgaan</option></a>
</select>

<h2>Onze Squad</h2>
<ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}">{{ person.name }}</a></li>
  {% endfor %}
</ul>


{% render 'partials/foot.liquid', squads: squads %}