{% render 'partials/head.liquid', title: 'OnsTeam' %}
<h1>Ons Team</h1>

<ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}">{{ person.name }}</a></li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', squads: squads %}